
NET "A1" LOC = H17;
NET "A2" LOC = P19;
NET "A3" LOC = P20;
NET "A4" LOC = H18;
NET "clk" LOC = V10;

NET "clk" IOSTANDARD = LVCMOS33;

NET "EN12" LOC = G17;

NET "A1" IOSTANDARD = LVCMOS33;
NET "A2" IOSTANDARD = LVCMOS33;
NET "A3" IOSTANDARD = LVCMOS33;
NET "A4" IOSTANDARD = LVCMOS33;
NET "EN12" IOSTANDARD = LVCMOS33;

NET "Trig_l" LOC = B3;
NET "Trig_r" LOC = B4;
NET "Trig_f1" LOC = C5;
NET "Trig_f2" LOC = B6;
NET "Echo_l" LOC = C10;
NET "Echo_r" LOC = C7;
NET "Echo_f1" LOC = D8;
NET "Echo_f2" LOC = B9;


NET "Echo_l" IOSTANDARD = LVCMOS33;
NET "Echo_r" IOSTANDARD = LVCMOS33;
NET "Echo_f1" IOSTANDARD = LVCMOS33;
NET "Echo_f2" IOSTANDARD = LVCMOS33;
NET "Trig_l" IOSTANDARD = LVCMOS33;
NET "Trig_r" IOSTANDARD = LVCMOS33;
NET "Trig_f1" IOSTANDARD = LVCMOS33;
NET "Trig_f2" IOSTANDARD = LVCMOS33;

NET "rst" LOC = C4;

NET "serial" LOC = D11;
NET "serial" PULLUP;

NET "serial" IOSTANDARD = LVCMOS33;

